<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ashishk/eclipse-workspace/sdetPractise">
        <classes>
            <class name="com.sdet.sdetPractise.docker.RemoteGridWithDocker1Test">
            </class>
        </classes>
    </test>
</suite>